﻿@model IEnumerable<MyTimeSeries.ElectricityConsumptionDataReply>
<h2>Index</h2>

<p>
    @Html.ActionLink("Eletricity Consumption", "Check")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meterusage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time) |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meterusage)
            </td>
            <td>
                
            </td>
        </tr>
    }

</table>